@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans');

/*
Color scheme:
#034804
#F8F8F8
#009B89
#FFA300
#FFFFFF
#000000
*/

/*header css*/
body{
	line-height: 1.4;
	max-width: 60rem;
	margin: auto;	
}
.wrapper{
	text-align: left;
	margin: 2rem;
}
h1{
	font-size: 2rem;
	font-family: 'Alegreya', serif; 
	color: #034804;
	margin-bottom: 2rem;
}
nav ul li{
	box-sizing: border-box;
	display: block;
	background-color: #F8F8F8;
	padding: 0.3rem;
	margin-top: 0.2rem;
}
nav ul li a{
	font-family: 'Open Sans', sans-serif;
	color: #034804;
	font-size:  0.75rem;
	text-decoration: none;
}
.masthead{
	text-align: center;
	padding: 2.5rem;
	font-size: 1.5rem;
	font-family: 'Alegreya', serif;
	color: #FFFFFF;
	background-image: url(../img/masthead.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

/*main css*/
.controls{
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
button{
	font-size: 1rem;
	color: #FFA300;
	border: none;
	padding: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-bottom: 0.3rem solid #F8F8F8;
}
i{
	font-size: 2rem;
	color: #FFA300;
}
#active{
	border-color: #009B89;
	color: #009B89;
}
#active i{
	color: #009B89;
}
h2{
	font-size: 1.5rem;
	font-family: 'Alegreya', serif; 
	color: #000000;
	margin-bottom: 1.2rem;
}
.current-content img{
	width: 100%;
	margin-bottom: 1.2rem;
}
.current-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75rem;
	color: #000000;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/*footer css*/
.social-media{
	background-color: #F8F8F8;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0.5rem;
}
.social-media ul li{
	display: inline-block;
	margin-right: 1rem;
}
footer{
	margin-bottom: 0;
}
footer i{
	color: #034804;
	font-size: 1.5rem;
}
/*Tablet-Desktop View*/
@media screen and (min-width: 30rem){
	h1{
		font-size: 2.5rem;
	}
	nav ul li{
		float: left;
		display: inline-block;
		width: 22%;
		margin-right: 4%;
		text-align: center;
	}
	nav ul li:nth-child(4){
		margin-right: 0;
	}
	nav ul li a{
		font-size: 1rem;
	}
	.masthead{
		font-size: 2rem;
		clear: both;
	}
	button{
		font-size: 1.5rem;
		margin-right: 1.5rem;
	}
	i{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2rem;
	}
	.current-content img{
		float: left;
		width: 25%;
		margin-right: 1.5rem;
	}
	.current-content p{
		font-size: 1rem;
		margin-bottom: 2.5rem;
	}
	.social-media ul li{
		margin-right: 1.5rem;
	}
	footer i{
		font-size: 2rem;
	}
}


